@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

/*------------------------------------------------Navbar */

.navbar {
  background-color: rgba(12, 28, 49, 0.9);
  /* opacity: 90%; */
  text-align: center;
  padding: 0rem 1rem;
  border-bottom: solid 3px rgba(12, 28, 49, 1);
}

.collapsing,
.show {
  background-color: rgba(12, 28, 49, 1);
  border-radius: 30px 30px 0 0;
}

/* .show {
  background-color: rgba(12, 28, 49, 1);
  border-radius: 30px 30px 0 0;
} */

/*------------------------------------------------Main containers */

.landing-container {
  /* display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; */
}

.why-container {
}

.where-container {
}

.about-container {
}

.events-container {
}

.bg-image-container {
  background: url(../images/pexels-sebastian-voortman-165505.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  padding: 0;
  position: absolute;
}

/*------------------------------------------------Jumbotrons */

.jumbotron {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 5rem;
  background-color: rgba(12, 28, 49, 0.8);
  color: #e2e2e2;
  text-shadow: 2px 2px black;
  padding: 15px 15px;
  border: solid 3px rgba(12, 28, 49, 1);
}

.landing-jumbotron {
}

.why-jumbotron {
}

.events-jumbotron {
}

/*------------------------------------------------Cards */

.card {
  background-color: rgba(12, 28, 49, 0.8);
  color: #e2e2e2;
  border-radius: 3rem;
  border: solid 3px rgba(12, 28, 49, 1);
  overflow: hidden;
}

.card iframe {
  border-radius: 1rem;
}

.about-img-container {
  max-height: 50%;
}

/* .card img {
  height: 100%;
  width: 100%;
  background-size: contain;
} */

/*------------------------------------------------Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(12, 28, 49, 0.8);
  color: #e2e2e2;
  text-align: center;
  padding: 15px;
}

.social-links a i {
  color: #fff;
}

/*------------------------------------------------Media Queries */

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
  /* .about-card {
    max-width: 50%;
    margin: 0;
  } */

  /* .about-card ~ .card-body {
    width: 100%;
  } */

  /* .about-card .row {
    display: inline;
  } */
  /* .card-content-clear {
    clear: both;
    width: 100%;
  } */
}
