@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: rgba(12, 28, 49, 0.9);
  /* opacity: 90%; */
}

.landing-container {
  background: url(../images/pexels-sebastian-voortman-165505.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.jumbotron {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 10rem;
  background-color: rgba(12, 28, 49, 0.4);
  color: #e2e2e2;
  text-shadow: 2px 2px black;
  padding: 4rem 4rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(12, 28, 49, 0.8);
  color: #e2e2e2;
  text-align: center;
  padding: 15px;
}

.social-links a i {
  color: #fff;
}
